.course-cards{
    border-radius: 10px;
    box-shadow: 0 2px 10px -5px #000;
    color: #000;

    a{
        color: #000;
        text-decoration: none;
    }

    .img-zoom{
        overflow: hidden;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        .card-img-top{
            transition: transform .5s ease;
        }
    }

    &:hover .img-zoom .card-img-top{
        transform: scale(1.2);
    }

    .person-info{
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;

        .person-img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    h6{
        margin-bottom: 70px;
    }
    
    .course-footer{
        margin-top: 10px;

        .clock{
            font-size: 20px;
            color: #aaa;
        }

        .cost-course{
            width: 80px;
            height: 30px;
            background-color: #313e37;
            color: #fff;
            border-radius: 4px;
            position: relative;
        }

        .prev-price{
            position: absolute;
            color: red;
            font-weight: bold;
            background-color: #fff;
            height: 30px;
            width: 70px;
            top: -30px;
            left: 10px;
            background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, #f00 50%, transparent 52%, transparent 100%);
        }
    }
}