.ielts-div-container{
    background-color: #959595;

    .col-padding{
        padding: 50px 40px 40px 0;
    }

}

.ielts-bg{
    background-color: #959595;
}




.single-post-container{
    background-color: #c39a3e;    

    .single-post1{
        max-width: calc(100% - 140px);
        margin: 0 auto;
        padding: 50px 0;
    }

    .single-post2{
        padding: 20px 30px;
        color: #fff;
    }
}